@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");

/* shared styles */

* {
  font-family: "Mulish", sans-serif;
}

.up-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.paragraph {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}

.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border: 0;
}

header {
  max-width: 1200px;
  margin: 100px auto;
}
main {
  max-width: 1170px;
  margin: 100px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

.up {
  display: flex;
  gap: 1rem;
}

nav li {
  list-style: none;
  margin-right: 40px;
}

nav ul {
  display: flex;
}

nav li a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}

#link {
  color: #ff5400;
  font-weight: 700;
}

.banner {
  text-align: center;
  padding: 106px 185px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 60%
    ),
    url("../images/Group 13 (1) (1).png");
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 50px;
  border-radius: 16px;
}

.drop-down {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 48px;
}

.toogle {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  border: 0;
}

/* .second {
  border: 0;
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;

  margin-top: 16px;
  margin-bottom: 16px;
} */

.first {
  position: relative;
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.first select {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
}

.first input {
  padding-top: 20px;
  border: 0;
}

.second {
  position: relative;
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.second select {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
}

.second input {
  padding-top: 20px;
  border: 0;
}

.third {
  position: relative;
  display: flex;
}

.third img {
  position: absolute;
  left: 20px;
  top: 13px;
}

.third button {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.first-text {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-top: 30px;
}

.second-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
}

.mountain {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 180px;
}
/* 
  .river {
    width: 540px;
    height: 500px;
  } */

#one {
  margin-top: 24px;
}

.mountain ul li {
  margin-top: 24px;
}

#tap {
  margin-top: 32px;
}

#text {
  margin-top: 24px;
}

.location-2 {
  text-align: center;
}

.divide {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}

.part-1 {
  position: relative;
}

.dest {
  position: absolute;
  top: 30%;
  left: 40%;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.divide-1 {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.part-2 {
  position: relative;
}

.dest-1 {
  position: absolute;
  top: 30%;
  left: 30%;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.divide-2 {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.part-3 {
  position: relative;
}

.dest-2 {
  position: absolute;
  top: 30%;
  left: 30%;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.dest-3 {
  position: absolute;
  top: 30%;
  left: 37%;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

/* cards */

.cards {
  text-align: center;
}

.up-title-1 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.up-title-2 {
  color: #131318;
  font-size: 18px;
  font-weight: 800;
}

.carding {
  display: flex;
  gap: 20px;
}

.house {
  padding: 32px;
}

#block-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

#block-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.building {
  width: 573px;
  height: 284px;
  margin-top: 20px;
  /* margin-left: 300px; */
  padding: 0 300px;
}

#block-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.letter {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 120px;
}

.paper {
  width: 350px;
  height: 340px;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}

.frame img {
  width: 672px;
  height: 422px;
}

.same {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  width: 350px;
  height: 35px;
  margin-top: 16px;
  border: 0;
}

.btn-secondary {
  width: 350px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  border: 0;
  margin-top: 16px;
}

.badge {
  text-align: center;
  border-radius: 16px;
  background: #ff5400;
  width: 270px;
  height: 150px;
  transform: rotate(-19.628deg);
}

.badge h4 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}

.badge h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.frame {
  position: relative;
}

.badge {
  position: absolute;
  top: 230px;
  right: 16px;
}

.footer-img {
  background: rgba(19, 19, 24, 0.05);
  height: 420x;
  padding: 110px 500px;
}
.below {
  text-align: center;
  margin-top: 20px;
}
.social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.orange {
  color: #ff5400;
  font-size: 32px;
  font-weight: 800;
}

.red {
  font-size: 32px;
}

.copy {
  margin-top: 100px;
}

.air {
  margin-top: 130px;
  background-image: url("../images/adam (1).jpg");
  height: 500px;
  padding: 80px;
  border-radius: 16px;
}

.gift {
  margin-top: 130px;
}
/* .biman {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
} */

.airway {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.p {
  border-radius: 20px;
  padding: 5px 5px;
}
.p:hover {
  background-color: #f2f2f2;
}

.airway-1 {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.airway-2 {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.trip {
  text-align: center;
}
/* Responsive */
@media screen and (max-width: 600px) {
  .menu {
    display: block;
  }

  .list {
    display: none;
  }

  .drop-down {
    flex-direction: column;
  }
  .banner {
    width: 335px;
    height: 483px;
  }

  .second-text {
    width: 304px;
  }
}
